* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(../src/img/Fondo.webp);*/
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header{
  min-height: 5vh;
  padding: 5px;
  border: 1px solid black;
  background-color: #f8baa4;
}

main{
  margin: 10px;
}

h1 {
  text-align: center;
}

form {
  display: grid;

  grid-template-columns: repeat(2, auto);
  grid-row-gap: 15px;
  grid-column-gap: 5px;

  width: 30vw;

  /*El primer valor es margen arriba y abajo, el segundo valor es margen izquierda y derecha */
  margin: 0 auto;
  background-color: #f8baa4;
  padding: 25px;
  border: 1px solid black;
}

.button {
  text-decoration: none;
  background-color: rgb(125, 153, 60);
  padding: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  transition: 0.2s all;
}

.button:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
}

footer{
  background-color: #f8baa4;
  min-height: 5vh;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}