:root{
    --pink: #e84393;
    /* Define la variable CSS para el color rosa */
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    text-transform: none; /* Desactiva la capitalización */

    /* Restablece los márgenes y estilos predeterminados, establece la fuente y otras propiedades globales */
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 

    /* Define el tamaño de fuente base, comportamiento de desplazamiento suave y otros ajustes */ 
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #f8baa4;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
    justify-content: space-between;

    /* Establece estilos para el encabezado, su posición fija, colores, y organización de elementos */
}

header .icono img {
    width: 50px; 
    height: auto; 
  }

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: var(--pink)
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
color: var(--pink);
}

header #toggler{
    display: none;
}

@media (max-width:991px) {
    html {
        font-size: 1rem;
    }

    header {
        padding: 2rem;
    }
}

@media (max-width:768px) {

    header .fa-bars {
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 0; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        

    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .open-btn {
        display: none; 
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}

h1{
    text-align: center;
}


body {
    margin: 0 auto;
    background-color: white;
}

#sidebar-toggle {
    display: none;
}

/* Estilos botón del sidebar */
.open-btn {
    font-size: 24px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #f8baa4;
    transition: left 0.3s ease; 
    z-index: 1000; 
}


.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.sidebar a:hover {
    background-color: #e84393; 
}

/* Estilos para mostrar la barra lateral cuando el input checkbox está marcado */
#sidebar-toggle:checked + .sidebar {
    left: 0;
}

.sidebar.active {
    left: 0; /* Muestra el sidebar cuando está activo */
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;   
    cursor: pointer;
  }


/* Estilos del sidebar en pantallas más chicas */
@media (max-width: 768px) {
    .sidebar {
        left: 0; 
    }
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}
.item hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 20);

}

.info-products{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;


}
.item img{
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
    
}

.item:hover img {
    transform: scale(1.1); 
}

.item figure{
    overflow: hidden;
}

.item hover img{
    transform: scale(1.2)

}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-products button{
    border: none;
    background: none;
    background-color: #f8baa4;
    color: black;
    padding: 15px 10px;
    cursor: pointer;


}


.logo{
    width: 20%;
    height: auto;
    
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
}  

.slider-box{
    width: 50%; 
    margin: auto; 
    overflow: hidden; 

}

.slider-box ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;

}

.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;

}

main {
    margin: 20px;
}

.slider-box img{
    width: 100%;

}
@keyframes slide {
    0% {margin-left: 0; }
    20% {margin-left: 0; }
    
    25% {margin-left: -100%; }
    45% {margin-left: -100%; }

    50% {margin-left: -200%; }
    70% {margin-left: -200%; }

    75% {margin-left: -300%; }
    100% {margin-left: -300%; }
}


@media(max-width:991px){

    body{
        padding: 30px;
    }

    .slider-box{
        width: 100%;
    }  
    
}
footer{
        background-color: #F8BAA4;
        color: #333;
        text-align: center;
        margin-top: 20px;
        width: 100%;

    }

    footer a {
        color: #333;
        font-size: 2rem; 
        margin: 0 10px; 
    }
    
    footer p {
        font-size: 1.5rem; 
        margin-top: 10px; 
        text-transform: none; /* Desactiva la capitalización */

    }   
    footer a:hover {
        color: #e84393; 
    }