:root{
  --pink: #e84393;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;  
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #f8baa4;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 .5rem 1 rem rgba(0, 0, 0, .1);
  justify-content: space-between;

}

header .logo{
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}

header .logo span{
  color: var(--pink);
}



@media (max-width:991px) {
  html {
      font-size: 1rem;
  }

  header {
      padding: 2rem;
  }
}

@media (max-width:768px) {

  header .fa-bars {
      display: block;
  }
} 

header .navbar a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;

}

header .navbar a:hover{
  color: var(--pink)

}

header .icono img {
  width: 50px; 
  height: auto; 
}

header .icons a{
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;

}

header .icons a:hover{
color: var(--pink);

}

header #toggler{
    display: none;
}

header .fa-bars{
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0, 0, 0, .3);
  display: none;

}
.about-section {
  padding: 40px;
  text-align: center;
}

.about-section h1 {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.about-section p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 25px;
  text-align:justify;
  text-decoration:solid;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.logo span {
  color: #ff6b6b;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.icons {
  display: flex;
  gap: 10px;
}

.icons a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}


/* Team Section Styles */
.team-section {
  padding: 40px;
  text-align: center;
}

.team-section h2 {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 2;
}

.team-members {
  display:block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.team-members h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.team-members p {
  font-size: 16px;
  color: #666;
}


footer{
  text-transform: none; /* Desactiva la capitalización */
  background-color: #F8BAA4;
  color: #333;
  text-align: center;
  padding: 5px; 

  width: 100%;
  bottom: 0;
}

footer a {
color: #333;
font-size: 1.7rem; 
margin: 0 10px; 
}

footer p {
font-size: 12px; 
margin-top: 0px; 
text-transform: none; /* Desactiva la capitalización */

}   
footer a:hover {
color: #e84393; 
}